.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mesh {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.mesh01 {
  background: conic-gradient(
      at 90% 105%,
      transparent 50%,
      #ddf469 75%,
      #ff917b 80%,
      transparent
    ),
    conic-gradient(at 50% -5%, #65ead1 25%, #fcffc1, #f469a9 75%);
}